<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sorting Visvualizer</title>
    <link rel="stylesheet" href = "style.css">
  </head>

  <body>
    <div class="navbar">
      <form class="" action="/generate" method="post">
        <button type="submit" name="generate">Generate New Array</button>
        <input type="range" name="vol" value="size" min="10" max="200">
      </form>
      <br>
      <form class="" action="/" method="post">
        <button type="submit" name="bubble" value="bubble">Bubble Sort</button>
        <button type="submit" name="quick" value="quick">Quick Sort</button>
        <button type="submit" name="merge" value="merge">Merge Sort</button>
        <button type="submit" name="insertion" value="insertion">Insertion Sort</button>
      </form>
    </div>

    <div class="graph">
      <% if(flag1 == 0 && flag2 == 0 && flag3 == 0 && flag4 == 0){ %>
      <% for(var i = 0;i<array.length;i++){ %>
      <% let hgt = array[i]*(700/size) %>

      <% if(size < 80){ %>
        <% margin = 250%>
      <%}else{%>
      <% margin = 200*150/size %>
      <%}%>
      <%width = 1200/size%>
      <%if(i == 0){%>
        <hr style="height:<%=hgt%>px;border-left: <%=width%>px solid black;float: left;margin-left:<%=margin%>px">
        <%}else{%>
          <hr style="height:<%=hgt%>px;border-left: <%=width%>px solid black;float: left;margin-left:0.2px">
          <%}%>
          <%}%>
          <%}%>
    </div>



      <%if(flag1 == 1){ %>
      <% console.log("hi") %>
      <% for(let i = 0;i<size-1;i++){ %>
        <% for(let j = i+1;j<size;j++){ %>
          <% if(array[i] > array[j]){ %>
            <% let t = array[j] %>
            <% array[j] = array[i] %>
            <% array[i] = t %>
          <% } %>
        <%}%>
        <%}%>
        <% for(var i = 0;i<array.length;i++){ %>
        <% let hgt = array[i]*(700/size) %>

        <% if(size < 80){ %>
          <% margin = 250%>
        <%}else{%>
        <% margin = 200*150/size %>
        <%}%>
        <%width = 1200/size%>
        <%if(i == 0){%>
          <hr style="height:<%=hgt%>px;border-left: <%=width%>px solid black;float: left;margin-left:<%=margin%>px">
          <%}else{%>
            <hr style="height:<%=hgt%>px;border-left: <%=width%>px solid black;float: left;margin-left:0.2px">
            <%}%>
            <%}%>
      <%}%>

      <%console.log(array)%>
  </body>
</html>
